force-app/main/default/flows/Log_Interaction_Get_Opportunities_by_Account_Component.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>assignOpportunityCount</name>
        <label>Store Opportunity counts for later</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>countIsOwnedOpportunities</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>userOwnedOpportunitiesForScreen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>countNotOwnedOpportunities</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>notUserOwnedOpportunitiesForScreen</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <choices>
        <name>subectOpportunityFollowUp</name>
        <choiceText>Potential Donor Introduction/Followup</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Potential Donor Introduction/Followup</stringValue>
        </value>
    </choices>
    <choices>
        <name>subejctOther</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>subjectAlumniAdmissionsReferralCall</name>
        <choiceText>Alumni Admissions Referral Call</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Alumni Admissions Referral Call</stringValue>
        </value>
    </choices>
    <choices>
        <name>subjectCall</name>
        <choiceText>Call</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Call</stringValue>
        </value>
    </choices>
    <choices>
        <name>subjectChristmasCard</name>
        <choiceText>Christmas Card</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Christmas Card</stringValue>
        </value>
    </choices>
    <choices>
        <name>subjectCurrentDonorRelationshipBuilding</name>
        <choiceText>Current Donor Relationship Building</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Current Donor Relationship Building</stringValue>
        </value>
    </choices>
    <choices>
        <name>subjectDonorIntroduction</name>
        <choiceText>Potential Donor Introduction/Followup</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Potential Donor Introduction/Followup</stringValue>
        </value>
    </choices>
    <choices>
        <name>subjectEmail</name>
        <choiceText>Email</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Email</stringValue>
        </value>
    </choices>
    <choices>
        <name>subjectGiftAcknowledgment</name>
        <choiceText>Gift Acknowledgment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Gift Acknowledgment</stringValue>
        </value>
    </choices>
    <choices>
        <name>subjectLetter</name>
        <choiceText>Letter</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Letter</stringValue>
        </value>
    </choices>
    <choices>
        <name>subjectMeeting</name>
        <choiceText>Meeting</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Meeting</stringValue>
        </value>
    </choices>
    <choices>
        <name>subjectNetworking</name>
        <choiceText>Networking</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Networking</stringValue>
        </value>
    </choices>
    <choices>
        <name>subjectPrayedforyouCard</name>
        <choiceText>&quot;Prayed for you&quot; Card</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>&quot;Prayed for you&quot; Card</stringValue>
        </value>
    </choices>
    <choices>
        <name>subjectPrayerRequest</name>
        <choiceText>Prayer Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Prayer Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>subjectTextMessage</name>
        <choiceText>Text Message</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Text Message</stringValue>
        </value>
    </choices>
    <choices>
        <name>subjectThankYouCard</name>
        <choiceText>Thank You Card</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Thank You Card</stringValue>
        </value>
    </choices>
    <choices>
        <name>subjectVisitation</name>
        <choiceText>Visitation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Visitation</stringValue>
        </value>
    </choices>
    <dynamicChoiceSets>
        <name>contactsFromAccount</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>account.Id</elementReference>
            </value>
        </filters>
        <limit>10</limit>
        <object>Contact</object>
        <sortField>npsp__Primary_Contact__c</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>stagePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>StageName</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>taskTypePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>accountLink</name>
        <dataType>String</dataType>
        <expression>&apos;/lightning/r/Account/&apos; + {!account.Id} + &apos;/view&apos;</expression>
    </formulas>
    <formulas>
        <name>contactLink</name>
        <dataType>String</dataType>
        <expression>&apos;/lightning/r/Contact/&apos; + {!contact.Id} + &apos;/view&apos;</expression>
    </formulas>
    <formulas>
        <name>followUpTaskLink</name>
        <dataType>String</dataType>
        <expression>&apos;/lightning/r/Task/&apos; + {!followUpTask.Id} + &apos;/view&apos;</expression>
    </formulas>
    <formulas>
        <name>nameOfPrimaryContactOnAccount</name>
        <dataType>String</dataType>
        <expression>{!account.npe01__One2OneContact__r.FirstName} + &apos; &apos;  + {!account.npe01__One2OneContact__r.LastName}</expression>
    </formulas>
    <formulas>
        <name>opportunityLink</name>
        <dataType>String</dataType>
        <expression>&apos;/lightning/r/Opportunity/&apos;+ {!opportunity.Id} + &apos;/view&apos;</expression>
    </formulas>
    <formulas>
        <name>taskLink</name>
        <dataType>String</dataType>
        <expression>&apos;/lightning/r/Task/&apos; + {!interaction.Id} + &apos;/view&apos;</expression>
    </formulas>
    <interviewLabel>Log Interaction Get Opportunities by Account Component {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Log Interaction Get Opportunities by Contact Component</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Get the Opportunities that this user owns so that they can be presented first for the interaction.</description>
        <name>isNotUserOwnedOpportunity</name>
        <label>NOT User Owned Opportunities</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignOpportunityCount</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3 AND 4</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>npsp__Primary_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contact.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>notUserOwnedOpportunitiesForScreen</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Amount</queriedFields>
        <queriedFields>CloseDate</queriedFields>
        <queriedFields>StageName</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>npsp__Primary_Contact__c</queriedFields>
        <sortField>CloseDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>Get the Opportunities that this user owns so that they can be presented first for the interaction.</description>
        <name>isUserOwnedOpportunities</name>
        <label>User Owned Opportunities</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isNotUserOwnedOpportunity</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3 AND 4</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>npsp__Primary_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contact.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>userOwnedOpportunitiesForScreen</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Amount</queriedFields>
        <queriedFields>CloseDate</queriedFields>
        <queriedFields>StageName</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>npsp__Primary_Contact__c</queriedFields>
        <sortField>CloseDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>isUserOwnedOpportunities</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>accountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>accountOteraction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactOteraction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>contactsByAccount</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>countIsOwnedOpportunities</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>countNotOwnedOpportunities</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>countOfContactsByAccount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>existingOpportunityName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>followUpTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>followUpTaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>interaction</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>intermediateAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>isNewAccount</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isNewContact</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isNewOpportunity</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isNewTaskForFollowUp</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isPrimaryAccount</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>newAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newContactEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>newContactFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>newContactLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>newContactPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>notUserOwnedOpportunitiesForScreen</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>opportunities</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>opportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunityName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunityOteraction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunityStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>oppportunityCloseDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>primaryAccountIdFromContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>primaryAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>A string of text like this: &quot;Log a Call; Log an Interaction&quot;</description>
        <name>taskSubjectsValuesForPicklist</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>userOwnedOpportunitiesForScreen</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
