force-app/main/default/flows/LogInteractionSaga.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>storeFollowUpTaskVariables</name>
        <label>Document that new task created</label>
        <locationX>50</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>isNewTaskForFollowUp</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>followUpTaskId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>followUpTask.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>summaryScreenEnd</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>subectOpportunityFollowUp</name>
        <choiceText>Potential Donor Introduction/Followup</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Potential Donor Introduction/Followup</stringValue>
        </value>
    </choices>
    <choices>
        <name>subejctOther</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>subjectAlumniAdmissionsReferralCall</name>
        <choiceText>Alumni Admissions Referral Call</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Alumni Admissions Referral Call</stringValue>
        </value>
    </choices>
    <choices>
        <name>subjectCall</name>
        <choiceText>Call</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Call</stringValue>
        </value>
    </choices>
    <choices>
        <name>subjectChristmasCard</name>
        <choiceText>Christmas Card</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Christmas Card</stringValue>
        </value>
    </choices>
    <choices>
        <name>subjectCurrentDonorRelationshipBuilding</name>
        <choiceText>Current Donor Relationship Building</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Current Donor Relationship Building</stringValue>
        </value>
    </choices>
    <choices>
        <name>subjectDonorIntroduction</name>
        <choiceText>Potential Donor Introduction/Followup</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Potential Donor Introduction/Followup</stringValue>
        </value>
    </choices>
    <choices>
        <name>subjectEmail</name>
        <choiceText>Email</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Email</stringValue>
        </value>
    </choices>
    <choices>
        <name>subjectGiftAcknowledgment</name>
        <choiceText>Gift Acknowledgment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Gift Acknowledgment</stringValue>
        </value>
    </choices>
    <choices>
        <name>subjectLetter</name>
        <choiceText>Letter</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Letter</stringValue>
        </value>
    </choices>
    <choices>
        <name>subjectMeeting</name>
        <choiceText>Meeting</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Meeting</stringValue>
        </value>
    </choices>
    <choices>
        <name>subjectNetworking</name>
        <choiceText>Networking</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Networking</stringValue>
        </value>
    </choices>
    <choices>
        <name>subjectPrayedforyouCard</name>
        <choiceText>&quot;Prayed for you&quot; Card</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>&quot;Prayed for you&quot; Card</stringValue>
        </value>
    </choices>
    <choices>
        <name>subjectPrayerRequest</name>
        <choiceText>Prayer Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Prayer Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>subjectTextMessage</name>
        <choiceText>Text Message</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Text Message</stringValue>
        </value>
    </choices>
    <choices>
        <name>subjectThankYouCard</name>
        <choiceText>Thank You Card</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Thank You Card</stringValue>
        </value>
    </choices>
    <choices>
        <name>subjectVisitation</name>
        <choiceText>Visitation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Visitation</stringValue>
        </value>
    </choices>
    <decisions>
        <name>followUpTaskDecisionD</name>
        <label>Do we need to create a reminder Task?</label>
        <locationX>182</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>summaryScreenEnd</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isFollowUp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>taskFollowUp</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>taskFollowUp</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createFollowUpTaskA</targetReference>
            </connector>
            <label>If there is a follow up date</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>contactsFromAccount</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>account.Id</elementReference>
            </value>
        </filters>
        <limit>10</limit>
        <object>Contact</object>
        <sortField>npsp__Primary_Contact__c</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>stagePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>StageName</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>taskTypePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>accountLink</name>
        <dataType>String</dataType>
        <expression>&apos;/lightning/r/Account/&apos; + {!account.Id} + &apos;/view&apos;</expression>
    </formulas>
    <formulas>
        <name>contactLink</name>
        <dataType>String</dataType>
        <expression>&apos;/lightning/r/Contact/&apos; + {!contact.Id} + &apos;/view&apos;</expression>
    </formulas>
    <formulas>
        <name>followUpTaskLink</name>
        <dataType>String</dataType>
        <expression>&apos;/lightning/r/Task/&apos; + {!followUpTask.Id} + &apos;/view&apos;</expression>
    </formulas>
    <formulas>
        <name>nameOfPrimaryContactOnAccount</name>
        <dataType>String</dataType>
        <expression>{!account.npe01__One2OneContact__r.FirstName} + &apos; &apos;  + {!account.npe01__One2OneContact__r.LastName}</expression>
    </formulas>
    <formulas>
        <name>opportunityLink</name>
        <dataType>String</dataType>
        <expression>&apos;/lightning/r/Opportunity/&apos;+ {!opportunity.Id} + &apos;/view&apos;</expression>
    </formulas>
    <formulas>
        <name>taskLink</name>
        <dataType>String</dataType>
        <expression>&apos;/lightning/r/Task/&apos; + {!interaction.Id} + &apos;/view&apos;</expression>
    </formulas>
    <interviewLabel>Log Interaction 0.3.0 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Log Interaction 1.0.3</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>interactionScreenC</name>
        <label>Describe your interaction</label>
        <locationX>182</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>createInteraction</targetReference>
        </connector>
        <fields>
            <name>taskSubject</name>
            <choiceReferences>subjectCall</choiceReferences>
            <choiceReferences>subjectGiftAcknowledgment</choiceReferences>
            <choiceReferences>subectOpportunityFollowUp</choiceReferences>
            <choiceReferences>subjectEmail</choiceReferences>
            <choiceReferences>subjectPrayerRequest</choiceReferences>
            <choiceReferences>subjectLetter</choiceReferences>
            <choiceReferences>subjectThankYouCard</choiceReferences>
            <choiceReferences>subjectChristmasCard</choiceReferences>
            <choiceReferences>subejctOther</choiceReferences>
            <choiceReferences>subjectDonorIntroduction</choiceReferences>
            <choiceReferences>subjectNetworking</choiceReferences>
            <choiceReferences>subjectCurrentDonorRelationshipBuilding</choiceReferences>
            <choiceReferences>subjectMeeting</choiceReferences>
            <choiceReferences>subjectVisitation</choiceReferences>
            <choiceReferences>subjectTextMessage</choiceReferences>
            <choiceReferences>subjectAlumniAdmissionsReferralCall</choiceReferences>
            <choiceReferences>subjectPrayedforyouCard</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>subjectCall</defaultSelectedChoiceReference>
            <fieldText>Interaction Topic</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>taskDescription</name>
            <fieldText>Describe the Interaction</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>taskFollowUp</name>
            <dataType>Date</dataType>
            <fieldText>Do you need to follow up? Select date and I&apos;ll create a follow up task.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>isMeaningful</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Meaningful Interaction?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>interactionType</name>
            <choiceReferences>taskTypePicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type of Interaction</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>searchOpportunityScreenD</name>
        <label>Search for Opportunity or create new</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>MHLogInteractionOpportunitySubflow</targetReference>
        </connector>
        <fields>
            <name>whatOpportunity</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Select Opportunity of Interaction&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>searchOpportunityScreenD_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>searchOpportunityScreenD_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>userOwnedOpportunities</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Opportunity</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Opportunities you lead</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>SINGLE_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>userOwnedOpportunitiesForScreen</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;StageName&quot;,&quot;guid&quot;:&quot;column-42e5&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:0,&quot;label&quot;:&quot;Stage&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-81c4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:1,&quot;label&quot;:&quot;Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Amount&quot;,&quot;guid&quot;:&quot;column-9247&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Amount&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;CloseDate&quot;,&quot;guid&quot;:&quot;column-020f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Close Date&quot;,&quot;type&quot;:&quot;date&quot;},{&quot;apiName&quot;:&quot;ContactId&quot;,&quot;guid&quot;:&quot;column-1aab&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Contact&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Contact ID&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>countIsOwnedOpportunities</leftValueReference>
                            <operator>GreaterThanOrEqualTo</operator>
                            <rightValue>
                                <numberValue>1.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>notUserOwnedOpportunities</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Opportunity</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Other Opportunities</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>SINGLE_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>notUserOwnedOpportunitiesForScreen</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;StageName&quot;,&quot;guid&quot;:&quot;column-6b60&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Stage&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-21ea&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:1,&quot;label&quot;:&quot;Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Amount&quot;,&quot;guid&quot;:&quot;column-c168&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Amount&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;CloseDate&quot;,&quot;guid&quot;:&quot;column-7acd&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Close Date&quot;,&quot;type&quot;:&quot;date&quot;},{&quot;apiName&quot;:&quot;OwnerId&quot;,&quot;guid&quot;:&quot;column-3c6d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:4,&quot;label&quot;:&quot;Owner ID&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>countNotOwnedOpportunities</leftValueReference>
                            <operator>GreaterThanOrEqualTo</operator>
                            <rightValue>
                                <numberValue>1.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>searchForOpportunity</name>
            <fieldText>Search for an Opportunity?</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>searchForOpportunity_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>getOpportunity</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>npe01__OppPayment__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>npe01__Opportunity__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Search for Opportunity</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>opportunityId</assignToReference>
                        <name>recordId</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>existingOpportunityName</assignToReference>
                        <name>recordName</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>createNewOpportunity</name>
            <fieldText>Create a new Opportunity?</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>createNewOpportunity_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>newOpportunityName</name>
                    <dataType>String</dataType>
                    <fieldText>Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>newOpportunityCloseDate</name>
                    <dataType>Date</dataType>
                    <fieldText>Close Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>newOpportunityStage</name>
                    <choiceReferences>stagePicklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Stage</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>selectAccountScreenB</name>
        <label>Search for Account or create new</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getOrCreateAccount</targetReference>
        </connector>
        <fields>
            <name>whoAccount</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Select Account of Interaction&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>usePrimaryAccount</name>
            <fieldText>Use Account from Contact?</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>usePrimaryAccount_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>useCurrentPrimaryAccount</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>usePrimaryAccount_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>choosePrimaryAccountLabel</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!intermediateAccount.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>11</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>intermediateAccount.Name</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>intermediateAccount.Name</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>searchForAccount</name>
            <fieldText>Search for existing Account?</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>searchForAccount_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>searchDifferentAccount</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>AccountId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Search for Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>accountId</assignToReference>
                        <name>recordId</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>accountName</assignToReference>
                        <name>recordName</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>createNewAccount</name>
            <fieldText>Ceate new Account?</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>createNewAccount_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>newAccountNameB</name>
                    <dataType>String</dataType>
                    <fieldText>Account Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>selectContactScreenA</name>
        <label>Search for Contact of interaction or create new</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getOrCreateContactSubflow</targetReference>
        </connector>
        <fields>
            <name>whoInteract</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Select Contact from your interaction&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>selectContactSection</name>
            <fieldText>Select a Contact from Account?</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>selectContactSection_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>contactsOfAccount</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Contact</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>contactsOfAccountDT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>SINGLE_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>contactsByAccount</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-823a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Full Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;npsp__Primary_Contact__c&quot;,&quot;guid&quot;:&quot;column-425d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Is primary&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:1,&quot;label&quot;:&quot;Primary Contact&quot;,&quot;type&quot;:&quot;boolean&quot;},{&quot;apiName&quot;:&quot;MailingStreet&quot;,&quot;guid&quot;:&quot;column-16ba&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Address&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Mailing Street&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;MailingCity&quot;,&quot;guid&quot;:&quot;column-742e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;CIty&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:3,&quot;label&quot;:&quot;Mailing City&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;MailingState&quot;,&quot;guid&quot;:&quot;column-0a05&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;State&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:4,&quot;label&quot;:&quot;Mailing State/Province&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>contact</assignToReference>
                        <name>firstSelectedRow</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>contacts</assignToReference>
                        <name>selectedRows</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>countOfContactsByAccount</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>searchForContact</name>
            <fieldText>Search for a Contact?</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>searchForContact_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>existingContactScreenA</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>npe01__One2OneContact__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Search for Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>contactId</assignToReference>
                        <name>recordId</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>newContactScreenA</name>
            <fieldText>Create a new Contact?</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>newContactScreenA_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>setContactName</name>
                    <extensionName>flowruntime:name</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Contact name</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldsToDisplayList</name>
                        <value>
                            <stringValue>firstName,lastName</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>newContactFirstName</assignToReference>
                        <name>firstName</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>newContactLastName</assignToReference>
                        <name>lastName</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>setContactEmail</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>newContactEmail</assignToReference>
                        <name>value</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>setContactPhone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>newContactPhone</assignToReference>
                        <name>value</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>usePrimaryAccountB</name>
            <fieldText>Use Account&apos;s Primary Contact?</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>usePrimaryAccountB_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>useCurrectPrimaryContact</name>
                    <dataType>Boolean</dataType>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>usePrimaryAccountB_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayTextPrimaryContactName</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!contact.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>11</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>contact.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>contact.FirstName</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>summaryScreenEnd</name>
        <label>Summary of what we did</label>
        <locationX>182</locationX>
        <locationY>1622</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>summarytext</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Excellent! The interaction has been logged.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Here is a summary of what we&apos;ve done together.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>summaryNewContactScreen</name>
            <fieldText>Created new Contact</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>summaryNewContactScreen_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>summaryNewContactText</name>
                    <fieldText>&lt;ol&gt;&lt;li&gt;See the new &lt;a href=&quot;{!contactLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;Contact here&lt;/strong&gt;&lt;/a&gt;.&lt;/li&gt;&lt;/ol&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>isNewContact</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>summaryNewAccountScreen</name>
            <fieldText>Created new Account</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>summaryNewAccountScreen_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>newAccountSummary</name>
                    <fieldText>&lt;ol&gt;&lt;li&gt;See the new &lt;a href=&quot;{!accountLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;Account here&lt;/strong&gt;&lt;/a&gt;.&lt;/li&gt;&lt;li&gt;We set the Primary Contact of the Account to this &lt;a href=&quot;{!contactLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;Contact&lt;/strong&gt;&lt;/a&gt;.&lt;/li&gt;&lt;/ol&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>isNewAccount</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>summaryNewOpportunityScreen</name>
            <fieldText>Created new Opportunity</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>summaryNewOpportunityScreen_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>newOpportunitySummary</name>
                    <fieldText>&lt;ol&gt;&lt;li&gt;See the new &lt;a href=&quot;{!opportunityLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;Opportunity here&lt;/strong&gt;&lt;/a&gt;.&lt;/li&gt;&lt;li&gt;We linked the Opportunity to this &lt;a href=&quot;{!accountLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;Account&lt;/strong&gt;&lt;/a&gt;.&lt;/li&gt;&lt;li&gt;We set the Primary Contact of the Opportunity to this &lt;a href=&quot;{!contactLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;Contact&lt;/strong&gt;&lt;/a&gt;.&lt;/li&gt;&lt;/ol&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>isNewOpportunity</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>isFollowUpTask</name>
            <fieldText>Created follow up Task</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>isFollowUpTask_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>newFollowUpTask</name>
                    <fieldText>&lt;ol&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;We linked your interaction with this &lt;/span&gt;&lt;a href=&quot;{!opportunityLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;Opportunity&lt;/strong&gt;&lt;/a&gt;.&lt;/li&gt;&lt;li&gt;See the follow up &lt;a href=&quot;{!followUpTaskLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;Task here&lt;/strong&gt;&lt;/a&gt;.&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;We linked the follow up Task to this &lt;/span&gt;&lt;a href=&quot;{!contactLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px;&quot;&gt;&lt;strong&gt;Contact&lt;/strong&gt;&lt;/a&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;.&lt;/span&gt;&lt;/li&gt;&lt;/ol&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>isNewTaskForFollowUp</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>loggedInteraction</name>
            <fieldText>Logged your interaction</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>loggedInteraction_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>summaryInteraction</name>
                    <fieldText>&lt;ol&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;We logged your interaction as a completed &lt;/span&gt;&lt;a href=&quot;{!taskLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px;&quot;&gt;&lt;strong&gt;Task here&lt;/strong&gt;&lt;/a&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;.&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;We linked your interaction with this &lt;/span&gt;&lt;a href=&quot;{!opportunityLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px;&quot;&gt;&lt;strong&gt;Opportunity&lt;/strong&gt;&lt;/a&gt;.&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;We linked this task to this &lt;/span&gt;&lt;a href=&quot;{!contactLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px;&quot;&gt;&lt;strong&gt;Contact&lt;/strong&gt;&lt;/a&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;.&lt;/span&gt;&lt;/li&gt;&lt;/ol&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>startOver</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Click `Next` to start logging another interaction.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>selectAccountScreenB</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>createFollowUpTaskA</name>
        <label>Create follow up task</label>
        <locationX>50</locationX>
        <locationY>1322</locationY>
        <connector>
            <targetReference>storeFollowUpTaskVariables</targetReference>
        </connector>
        <flowName>MHCreateInteractionLog</flowName>
        <inputAssignments>
            <name>contact</name>
            <value>
                <elementReference>contact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>description</name>
            <value>
                <stringValue>Follow up on the interaction you logged here: /lightning/r/Task/{!interaction.Id}/view</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>status</name>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>subject</name>
            <value>
                <stringValue>Opportunity Followup</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>taskFollowUpDate</name>
            <value>
                <elementReference>taskFollowUp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>whatId</name>
            <value>
                <elementReference>opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>whoId</name>
            <value>
                <elementReference>contact.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>followUpTask</assignToReference>
            <name>task</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>createInteraction</name>
        <label>Record interaction</label>
        <locationX>182</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>followUpTaskDecisionD</targetReference>
        </connector>
        <flowName>MHCreateInteractionLog</flowName>
        <inputAssignments>
            <name>contact</name>
            <value>
                <elementReference>contact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>description</name>
            <value>
                <elementReference>taskDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>status</name>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>subject</name>
            <value>
                <elementReference>taskSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>whatId</name>
            <value>
                <elementReference>opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>whoId</name>
            <value>
                <elementReference>contact.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>interaction</assignToReference>
            <name>task</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Contacts_by_Account</name>
        <label>Get Contacts by Account</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>selectContactScreenA</targetReference>
        </connector>
        <flowName>MHlogInteractionContactsFromAccount</flowName>
        <inputAssignments>
            <name>account</name>
            <value>
                <elementReference>account</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>contact</assignToReference>
            <name>contact</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>contactsByAccount</assignToReference>
            <name>contactsByAccount</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>countOfContactsByAccount</assignToReference>
            <name>countOfContactsByAccount</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Opportunities_By_Account_Or_Contact</name>
        <label>Get Opportunities By Account Or Contact</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>searchOpportunityScreenD</targetReference>
        </connector>
        <flowName>MHGetOpportunitiesByAccountORContact</flowName>
        <inputAssignments>
            <name>account</name>
            <value>
                <elementReference>account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contact</name>
            <value>
                <elementReference>contact</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>countIsOwnedOpportunities</assignToReference>
            <name>countIsOwnedOpportunities</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>countNotOwnedOpportunities</assignToReference>
            <name>countNotOwnedOpportunities</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>notUserOwnedOpportunitiesForScreen</assignToReference>
            <name>notUserOwnedOpportunitiesForScreen</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>userOwnedOpportunitiesForScreen</assignToReference>
            <name>userOwnedOpportunitiesForScreen</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>getOrCreateAccount</name>
        <label>Get Or Create Account for Interaction</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Get_Contacts_by_Account</targetReference>
        </connector>
        <flowName>MHGetOrCreateAccount</flowName>
        <inputAssignments>
            <name>accountId</name>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>existingAccountName</name>
            <value>
                <elementReference>accountName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>newAccountName</name>
            <value>
                <elementReference>newAccountName</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>account</assignToReference>
            <name>account</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>isNewAccount</assignToReference>
            <name>isNewAcount</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>getOrCreateContactSubflow</name>
        <label>Get or Create Contact</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Get_Opportunities_By_Account_Or_Contact</targetReference>
        </connector>
        <flowName>MHLogInteractionContactSubflow</flowName>
        <inputAssignments>
            <name>contact</name>
            <value>
                <elementReference>contact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>newContactEmail</name>
            <value>
                <elementReference>newContactEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>newContactFirstName</name>
            <value>
                <elementReference>newContactFirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>newContactLastName</name>
            <value>
                <elementReference>newContactLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>newContactPhone</name>
            <value>
                <elementReference>newContactPhone</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>contact</assignToReference>
            <name>contact</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>isNewContact</assignToReference>
            <name>isNewContact</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>MHLogInteractionOpportunitySubflow</name>
        <label>Opportunity Subflow</label>
        <locationX>182</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>interactionScreenC</targetReference>
        </connector>
        <flowName>MHLogInteractionOpportunitySubflow</flowName>
        <inputAssignments>
            <name>account</name>
            <value>
                <elementReference>account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contact</name>
            <value>
                <elementReference>contact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>newOpportunityCloseDate</name>
            <value>
                <elementReference>newOpportunityCloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>newOpportunityName</name>
            <value>
                <elementReference>newOpportunityName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>newOpportunityStage</name>
            <value>
                <elementReference>newOpportunityStage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>notUserOwnedOpportunity</name>
            <value>
                <elementReference>notUserOwnedOpportunities.firstSelectedRow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>userOwnedOpportunity</name>
            <value>
                <elementReference>userOwnedOpportunities.firstSelectedRow</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>isNewOpportunity</assignToReference>
            <name>isNewOpportunity</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>opportunity</assignToReference>
            <name>opportunity</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>accountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>accountOteraction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactOteraction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>contactsByAccount</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>countIsOwnedOpportunities</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>countNotOwnedOpportunities</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>countOfContactsByAccount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>existingOpportunityName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>followUpTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>followUpTaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>interaction</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>intermediateAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>isNewAccount</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isNewContact</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isNewOpportunity</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isNewTaskForFollowUp</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isPrimaryAccount</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>newAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newContactEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>newContactFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>newContactLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>newContactPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>notUserOwnedOpportunitiesForScreen</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>opportunities</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>opportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunityName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunityOteraction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunityStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>oppportunityCloseDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>primaryAccountIdFromContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>primaryAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>A string of text like this: &quot;Log a Call; Log an Interaction&quot;</description>
        <name>taskSubjectsValuesForPicklist</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>userOwnedOpportunitiesForScreen</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
