force-app/main/default/flows/logInteractionContact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>isNewContactAssignment</name>
        <label>Note that we created a new Contact</label>
        <locationX>198</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>isNewContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getOrCreateContact</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>subectOpportunityFollowUp</name>
        <choiceText>Potential Donor Introduction/Followup</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Potential Donor Introduction/Followup</stringValue>
        </value>
    </choices>
    <choices>
        <name>subejctOther</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>subjectAlumniAdmissionsReferralCall</name>
        <choiceText>Alumni Admissions Referral Call</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Alumni Admissions Referral Call</stringValue>
        </value>
    </choices>
    <choices>
        <name>subjectCall</name>
        <choiceText>Call</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Call</stringValue>
        </value>
    </choices>
    <choices>
        <name>subjectChristmasCard</name>
        <choiceText>Christmas Card</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Christmas Card</stringValue>
        </value>
    </choices>
    <choices>
        <name>subjectCurrentDonorRelationshipBuilding</name>
        <choiceText>Current Donor Relationship Building</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Current Donor Relationship Building</stringValue>
        </value>
    </choices>
    <choices>
        <name>subjectDonorIntroduction</name>
        <choiceText>Potential Donor Introduction/Followup</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Potential Donor Introduction/Followup</stringValue>
        </value>
    </choices>
    <choices>
        <name>subjectEmail</name>
        <choiceText>Email</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Email</stringValue>
        </value>
    </choices>
    <choices>
        <name>subjectGiftAcknowledgment</name>
        <choiceText>Gift Acknowledgment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Gift Acknowledgment</stringValue>
        </value>
    </choices>
    <choices>
        <name>subjectLetter</name>
        <choiceText>Letter</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Letter</stringValue>
        </value>
    </choices>
    <choices>
        <name>subjectMeeting</name>
        <choiceText>Meeting</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Meeting</stringValue>
        </value>
    </choices>
    <choices>
        <name>subjectNetworking</name>
        <choiceText>Networking</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Networking</stringValue>
        </value>
    </choices>
    <choices>
        <name>subjectPrayedforyouCard</name>
        <choiceText>&quot;Prayed for you&quot; Card</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>&quot;Prayed for you&quot; Card</stringValue>
        </value>
    </choices>
    <choices>
        <name>subjectPrayerRequest</name>
        <choiceText>Prayer Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Prayer Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>subjectTextMessage</name>
        <choiceText>Text Message</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Text Message</stringValue>
        </value>
    </choices>
    <choices>
        <name>subjectThankYouCard</name>
        <choiceText>Thank You Card</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Thank You Card</stringValue>
        </value>
    </choices>
    <choices>
        <name>subjectVisitation</name>
        <choiceText>Visitation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Visitation</stringValue>
        </value>
    </choices>
    <decisions>
        <name>isContactSetDecision</name>
        <label>Have we retrieved the Contact yet?</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>validNewContactDecision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Retrieve Contact</defaultConnectorLabel>
        <rules>
            <name>isContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contact</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Contact is already set</label>
        </rules>
    </decisions>
    <decisions>
        <name>validNewContactDecision</name>
        <label>Do we have all required fields for new Contact?</label>
        <locationX>330</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>getOrCreateContact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>validContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newContactFirstName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>newContactLastName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>newContactFirstName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>newContactLastName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>isNewContactAssignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>contactsFromAccount</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>account.Id</elementReference>
            </value>
        </filters>
        <limit>10</limit>
        <object>Contact</object>
        <sortField>npsp__Primary_Contact__c</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>stagePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>StageName</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>taskTypePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>accountLink</name>
        <dataType>String</dataType>
        <expression>&apos;/lightning/r/Account/&apos; + {!account.Id} + &apos;/view&apos;</expression>
    </formulas>
    <formulas>
        <name>contactLink</name>
        <dataType>String</dataType>
        <expression>&apos;/lightning/r/Contact/&apos; + {!contact.Id} + &apos;/view&apos;</expression>
    </formulas>
    <formulas>
        <name>followUpTaskLink</name>
        <dataType>String</dataType>
        <expression>&apos;/lightning/r/Task/&apos; + {!followUpTask.Id} + &apos;/view&apos;</expression>
    </formulas>
    <formulas>
        <name>nameOfPrimaryContactOnAccount</name>
        <dataType>String</dataType>
        <expression>{!account.npe01__One2OneContact__r.FirstName} + &apos; &apos;  + {!account.npe01__One2OneContact__r.LastName}</expression>
    </formulas>
    <formulas>
        <name>opportunityLink</name>
        <dataType>String</dataType>
        <expression>&apos;/lightning/r/Opportunity/&apos;+ {!opportunity.Id} + &apos;/view&apos;</expression>
    </formulas>
    <formulas>
        <name>taskLink</name>
        <dataType>String</dataType>
        <expression>&apos;/lightning/r/Task/&apos; + {!interaction.Id} + &apos;/view&apos;</expression>
    </formulas>
    <interviewLabel>Log Interaction Contact Component {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Log Interaction Contact Component</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>isContactSetDecision</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>getOrCreateContact</name>
        <label>Get or Create Contact for Interaction</label>
        <locationX>330</locationX>
        <locationY>614</locationY>
        <flowName>MHGetOrCreateContact</flowName>
        <inputAssignments>
            <name>finalContactId</name>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>newEmail</name>
            <value>
                <elementReference>newContactEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>newFirstName</name>
            <value>
                <elementReference>newContactFirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>newLastName</name>
            <value>
                <elementReference>newContactLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>newPhone</name>
            <value>
                <elementReference>newContactPhone</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>contact</assignToReference>
            <name>contact</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>accountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>accountOteraction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactOteraction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>contactsByAccount</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>countIsOwnedOpportunities</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>countNotOwnedOpportunities</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>countOfContactsByAccount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>existingOpportunityName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>followUpTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>followUpTaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>interaction</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>intermediateAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>isNewAccount</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isNewContact</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isNewOpportunity</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isNewTaskForFollowUp</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>newAccountName0</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newContactEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newContactFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newContactLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newContactPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>notUserOwnedOpportunitiesForScreen</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>opportunities</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>opportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunityName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunityOteraction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunityStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>oppportunityCloseDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>primaryAccountIdFromContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>primaryAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>A string of text like this: &quot;Log a Call; Log an Interaction&quot;</description>
        <name>taskSubjectsValuesForPicklist</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>userOwnedOpportunitiesForScreen</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
