force-app/main/default/flows/LogInteraction.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>assignOpportunityCount</name>
        <label>Store Opportunity counts for later</label>
        <locationX>710</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>countIsOwnedOpportunities</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>isUserOwnedOpportunities</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>countNotOwnedOpportunities</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>isNotUserOwnedOpportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>searchOpportunityScreenD</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Document_that_there_was_a_new_opportunity_created_for_summary_screen</name>
        <label>Document that new task created</label>
        <locationX>578</locationX>
        <locationY>2150</locationY>
        <assignmentItems>
            <assignToReference>isNewTaskForFollowUp</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>summaryScreenEnd</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setIsNewOpportunity</name>
        <label>Document that there was a new opportunity created for summary screen</label>
        <locationX>50</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>isNewOpportunity</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>interactionScreenC</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>subectOpportunityFollowUp</name>
        <choiceText>Potential Donor Introduction/Followup</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Potential Donor Introduction/Followup</stringValue>
        </value>
    </choices>
    <choices>
        <name>subejctOther</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>subjectAlumniAdmissionsReferralCall</name>
        <choiceText>Alumni Admissions Referral Call</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Alumni Admissions Referral Call</stringValue>
        </value>
    </choices>
    <choices>
        <name>subjectCall</name>
        <choiceText>Call</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Call</stringValue>
        </value>
    </choices>
    <choices>
        <name>subjectChristmasCard</name>
        <choiceText>Christmas Card</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Christmas Card</stringValue>
        </value>
    </choices>
    <choices>
        <name>subjectCurrentDonorRelationshipBuilding</name>
        <choiceText>Current Donor Relationship Building</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Current Donor Relationship Building</stringValue>
        </value>
    </choices>
    <choices>
        <name>subjectDonorIntroduction</name>
        <choiceText>Potential Donor Introduction/Followup</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Potential Donor Introduction/Followup</stringValue>
        </value>
    </choices>
    <choices>
        <name>subjectEmail</name>
        <choiceText>Email</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Email</stringValue>
        </value>
    </choices>
    <choices>
        <name>subjectGiftAcknowledgment</name>
        <choiceText>Gift Acknowledgment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Gift Acknowledgment</stringValue>
        </value>
    </choices>
    <choices>
        <name>subjectLetter</name>
        <choiceText>Letter</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Letter</stringValue>
        </value>
    </choices>
    <choices>
        <name>subjectMeeting</name>
        <choiceText>Meeting</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Meeting</stringValue>
        </value>
    </choices>
    <choices>
        <name>subjectNetworking</name>
        <choiceText>Networking</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Networking</stringValue>
        </value>
    </choices>
    <choices>
        <name>subjectPrayedforyouCard</name>
        <choiceText>&quot;Prayed for you&quot; Card</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>&quot;Prayed for you&quot; Card</stringValue>
        </value>
    </choices>
    <choices>
        <name>subjectPrayerRequest</name>
        <choiceText>Prayer Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Prayer Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>subjectTextMessage</name>
        <choiceText>Text Message</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Text Message</stringValue>
        </value>
    </choices>
    <choices>
        <name>subjectThankYouCard</name>
        <choiceText>Thank You Card</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Thank You Card</stringValue>
        </value>
    </choices>
    <choices>
        <name>subjectVisitation</name>
        <choiceText>Visitation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Visitation</stringValue>
        </value>
    </choices>
    <decisions>
        <name>existingOpportunitySelectedDecision</name>
        <label>Existing Opportunity Selected</label>
        <locationX>710</locationX>
        <locationY>1238</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>searchOpportunityScreenD</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Try again</defaultConnectorLabel>
        <rules>
            <name>isExistingOpportunitySelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>opportunityOfInteraction</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>opportunityFoundDecisionC2</targetReference>
            </connector>
            <label>Existing Opportunity Selected from Other Account</label>
        </rules>
        <rules>
            <name>userOwnedOpportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>userOwnedOpportunities.firstSelectedRow.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Opportunity_found</targetReference>
            </connector>
            <label>User Owned Opportunity Selected</label>
        </rules>
        <rules>
            <name>notUserOwnedOpportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>notUserOwnedOpportunities.firstSelectedRow.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Opportunity_found</targetReference>
            </connector>
            <label>Not User Owned Opportunity Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>followUpTaskDecisionD</name>
        <label>Create follow up task</label>
        <locationX>710</locationX>
        <locationY>1910</locationY>
        <defaultConnector>
            <targetReference>summaryScreenEnd</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isFollowUp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>taskFollowUp</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createFollowUpTask</targetReference>
            </connector>
            <label>If there is a follow up date</label>
        </rules>
    </decisions>
    <decisions>
        <name>opportunityDecisionC</name>
        <label>Create new Opportunity if needed</label>
        <locationX>710</locationX>
        <locationY>1118</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>searchOpportunityScreenD</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Try again</defaultConnectorLabel>
        <rules>
            <name>isNewOpportunityDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newOpportunityName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>newOpportunityCloseDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>newOpportunityStage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createNewOpportunityDecisionC1</targetReference>
            </connector>
            <label>is New Opportunity</label>
        </rules>
        <rules>
            <name>isExistingOpportunityOfAccountDecision</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>opportunityOfInteraction</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>notUserOwnedOpportunities.firstSelectedRow.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>userOwnedOpportunities.firstSelectedRow.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>existingOpportunitySelectedDecision</targetReference>
            </connector>
            <label>Account&apos;s existing Opportunity selected</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AccountOfInteractionToDisplay</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>finalAccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>stagePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>StageName</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>taskTypePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>finalAccountLink</name>
        <dataType>String</dataType>
        <expression>&apos;/lightning/r/Account/&apos; + {!finalAccountId} + &apos;/view&apos;</expression>
    </formulas>
    <formulas>
        <name>finalContactLink</name>
        <dataType>String</dataType>
        <expression>&apos;/lightning/r/Contact/&apos; + {!finalContactId} + &apos;/view&apos;</expression>
    </formulas>
    <formulas>
        <name>finalFollowUpTaskLink</name>
        <dataType>String</dataType>
        <expression>&apos;/lightning/r/Task/&apos; + {!finalFollowUpTaskId} + &apos;/view&apos;</expression>
    </formulas>
    <formulas>
        <name>finalInteractionTaskLink</name>
        <dataType>String</dataType>
        <expression>&apos;/lightning/r/Task/&apos; + {!finalTaskId} + &apos;/view&apos;</expression>
    </formulas>
    <formulas>
        <name>finalOpportunityLink</name>
        <dataType>String</dataType>
        <expression>&apos;/lightning/r/Opportunity/+ finalOpportunityId +/view&apos;</expression>
    </formulas>
    <interviewLabel>Log Interaction {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Log Interaction 0.0.7</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createFollowUpTask</name>
        <label>Create follow up task</label>
        <locationX>578</locationX>
        <locationY>2030</locationY>
        <assignRecordIdToReference>finalFollowUpTaskId</assignRecordIdToReference>
        <connector>
            <targetReference>Copy_1_of_Document_that_there_was_a_new_opportunity_created_for_summary_screen</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>taskFollowUp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Follow up on the interaction you logged here: /lightning/r/Task/{!finalTaskId}/view</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Opportunity Followup</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>finalContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>finalAccountId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>createInteractionTask</name>
        <label>Record interaction</label>
        <locationX>710</locationX>
        <locationY>1790</locationY>
        <assignRecordIdToReference>finalTaskId</assignRecordIdToReference>
        <connector>
            <targetReference>followUpTaskDecisionD</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>taskDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>taskSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>finalContact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>createNewOpportunityDecisionC1</name>
        <label>Create new Opportunity</label>
        <locationX>50</locationX>
        <locationY>1238</locationY>
        <assignRecordIdToReference>finalOpportunityId</assignRecordIdToReference>
        <connector>
            <targetReference>setIsNewOpportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>finalAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>newOpportunityCloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>newOpportunityName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>newOpportunityStage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npsp__Primary_Contact__c</field>
            <value>
                <elementReference>finalContact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordLookups>
        <name>Copy_1_of_Opportunity_found</name>
        <label>Copy 1 of Opportunity found</label>
        <locationX>578</locationX>
        <locationY>1358</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>interactionScreenC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>userOwnedOpportunities.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>finalOppportunityCloseDate</assignToReference>
            <field>CloseDate</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>finalOpportunityId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>finalOpportunityName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>finalOpportunityStage</assignToReference>
            <field>StageName</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Copy_2_of_Opportunity_found</name>
        <label>Copy 2 of Opportunity found</label>
        <locationX>842</locationX>
        <locationY>1358</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>interactionScreenC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>notUserOwnedOpportunities.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>finalOppportunityCloseDate</assignToReference>
            <field>CloseDate</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>finalOpportunityId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>finalOpportunityName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>finalOpportunityStage</assignToReference>
            <field>StageName</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get the Opportunities that this user owns so that they can be presented first for the interaction.</description>
        <name>isNotUserOwnedOpportunity</name>
        <label>NOT User Owned Opportunities</label>
        <locationX>710</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignOpportunityCount</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3 AND 4</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>finalAccount.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>npsp__Primary_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>finalContact.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Amount</queriedFields>
        <queriedFields>CloseDate</queriedFields>
        <queriedFields>StageName</queriedFields>
        <sortField>CloseDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the Opportunities that this user owns so that they can be presented first for the interaction.</description>
        <name>isUserOwnedOpportunities</name>
        <label>User Owned Opportunities</label>
        <locationX>710</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isNotUserOwnedOpportunity</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3 AND 4</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>finalAccount.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>npsp__Primary_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>finalContact.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Amount</queriedFields>
        <queriedFields>CloseDate</queriedFields>
        <queriedFields>StageName</queriedFields>
        <sortField>CloseDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>opportunityFoundDecisionC2</name>
        <label>Opportunity found</label>
        <locationX>314</locationX>
        <locationY>1358</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>interactionScreenC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>opportunityOfInteraction</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>finalOpportunity</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CloseDate</queriedFields>
        <queriedFields>Amount</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>npsp__Primary_Contact__c</queriedFields>
        <queriedFields>StageName</queriedFields>
    </recordLookups>
    <screens>
        <name>interactionScreenC</name>
        <label>Describe your interaction</label>
        <locationX>710</locationX>
        <locationY>1670</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>createInteractionTask</targetReference>
        </connector>
        <fields>
            <name>taskSubject</name>
            <choiceReferences>subjectCall</choiceReferences>
            <choiceReferences>subjectGiftAcknowledgment</choiceReferences>
            <choiceReferences>subectOpportunityFollowUp</choiceReferences>
            <choiceReferences>subjectEmail</choiceReferences>
            <choiceReferences>subjectPrayerRequest</choiceReferences>
            <choiceReferences>subjectLetter</choiceReferences>
            <choiceReferences>subjectThankYouCard</choiceReferences>
            <choiceReferences>subjectChristmasCard</choiceReferences>
            <choiceReferences>subejctOther</choiceReferences>
            <choiceReferences>subjectDonorIntroduction</choiceReferences>
            <choiceReferences>subjectNetworking</choiceReferences>
            <choiceReferences>subjectCurrentDonorRelationshipBuilding</choiceReferences>
            <choiceReferences>subjectMeeting</choiceReferences>
            <choiceReferences>subjectVisitation</choiceReferences>
            <choiceReferences>subjectTextMessage</choiceReferences>
            <choiceReferences>subjectAlumniAdmissionsReferralCall</choiceReferences>
            <choiceReferences>subjectPrayedforyouCard</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>subjectCall</defaultSelectedChoiceReference>
            <fieldText>Interaction Topic</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>taskDescription</name>
            <fieldText>Describe the Interaction</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>taskFollowUp</name>
            <dataType>Date</dataType>
            <fieldText>Do you need to follow up? Select date and I&apos;ll create a follow up task.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>isMeaningful</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Meaningful Interaction?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>interactionType</name>
            <choiceReferences>taskTypePicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type of Interaction</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>searchOpportunityScreenD</name>
        <label>Search for Opportunity or create new</label>
        <locationX>710</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>opportunityDecisionC</targetReference>
        </connector>
        <fields>
            <name>whatOpportunity</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Select Opportunity of Interaction&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>searchOpportunityScreenD_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>searchOpportunityScreenD_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>userOwnedOpportunities</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Opportunity</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Opportunities you own</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>MULTI_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>isUserOwnedOpportunities</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;StageName&quot;,&quot;guid&quot;:&quot;column-42e5&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:0,&quot;label&quot;:&quot;Stage&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-81c4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:1,&quot;label&quot;:&quot;Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Amount&quot;,&quot;guid&quot;:&quot;column-9247&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Amount&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;CloseDate&quot;,&quot;guid&quot;:&quot;column-020f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Close Date&quot;,&quot;type&quot;:&quot;date&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>countIsOwnedOpportunities</leftValueReference>
                            <operator>GreaterThanOrEqualTo</operator>
                            <rightValue>
                                <numberValue>1.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>notUserOwnedOpportunities</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Opportunity</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Other Opportunities</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>MULTI_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>isNotUserOwnedOpportunity</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;StageName&quot;,&quot;guid&quot;:&quot;column-6b60&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Stage&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-21ea&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:1,&quot;label&quot;:&quot;Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Amount&quot;,&quot;guid&quot;:&quot;column-c168&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Amount&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;CloseDate&quot;,&quot;guid&quot;:&quot;column-7acd&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Close Date&quot;,&quot;type&quot;:&quot;date&quot;},{&quot;apiName&quot;:&quot;OwnerId&quot;,&quot;guid&quot;:&quot;column-7b00&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:4,&quot;label&quot;:&quot;Owner ID&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>countNotOwnedOpportunities</leftValueReference>
                            <operator>GreaterThanOrEqualTo</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>searchForOpportunity</name>
            <fieldText>Or search for a different Opportunity</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>searchForOpportunity_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>getOpportunity</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>npe01__OppPayment__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>npe01__Opportunity__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Search for Opportunity</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>opportunityOfInteraction</assignToReference>
                        <name>recordId</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>createNewOpportunity</name>
            <fieldText>Or create new Opportunity</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>createNewOpportunity_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>newOpportunityName</name>
                    <dataType>String</dataType>
                    <fieldText>Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>newOpportunityCloseDate</name>
                    <dataType>Date</dataType>
                    <fieldText>Close Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>newOpportunityStage</name>
                    <choiceReferences>stagePicklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Stage</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>selectAccountScreenB</name>
        <label>Search for Account or create new</label>
        <locationX>710</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getOrCreateAccount</targetReference>
        </connector>
        <fields>
            <name>whoAccount</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Select Account of Interaction&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Use_Account_from_Contact</name>
            <fieldText>Use Account from Contact?</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Use_Account_from_Contact_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>useCurrentPrimaryAccount</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Use_Account_from_Contact_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>choosePrimaryAccountLabel</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!primaryAccountName}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>11</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>primaryAccountName</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>searchForAccount</name>
            <fieldText>Or search for a different Account</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>searchForAccount_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>searchDifferentAccount</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>AccountId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Search for Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>accountOfInteraction</assignToReference>
                        <name>recordId</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>useCurrentPrimaryAccount</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>createNewAccount</name>
            <fieldText>Or create new Account</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>createNewAccount_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>newAccountName</name>
                    <dataType>String</dataType>
                    <fieldText>Account Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>useCurrentPrimaryAccount</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>selectContactScreenA</name>
        <label>Search for Contact of interaction or create new</label>
        <locationX>710</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getOrCreateContact</targetReference>
        </connector>
        <fields>
            <name>whoInteract</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Select Contact from your interaction&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>searchForContact</name>
            <fieldText>If Existing Contact</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>searchForContact_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>existingContactScreenA</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>npe01__One2OneContact__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Search for Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>ContactOfInteraction</assignToReference>
                        <name>recordId</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>newContactScreenA</name>
            <fieldText>If New Contact</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>newContactScreenA_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>setContactName</name>
                    <extensionName>flowruntime:name</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Contact name</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>setContactEmail</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>setContactPhone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>summaryScreenEnd</name>
        <label>Summary of what we did</label>
        <locationX>710</locationX>
        <locationY>2366</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>selectContactScreenA</targetReference>
        </connector>
        <fields>
            <name>summarytext</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Excellent! The interaction has been logged.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Here is a summary of what we&apos;ve done together.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>summaryNewContactScreen</name>
            <fieldText>Created new Contact</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>summaryNewContactScreen_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>summaryNewContactText</name>
                    <fieldText>&lt;ol&gt;&lt;li&gt;&lt;a href=&quot;{!finalContactLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px;&quot;&gt;&lt;strong&gt;See the new Contact here.&lt;/strong&gt;&lt;/a&gt;&lt;/li&gt;&lt;/ol&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>isNewContact</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>summaryNewAccountScreen</name>
            <fieldText>Created new Account</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>summaryNewAccountScreen_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>newAccountSummary</name>
                    <fieldText>&lt;ol&gt;&lt;li&gt;&lt;a href=&quot;{!finalAccountLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px;&quot;&gt;&lt;strong&gt;See the new Account here.&lt;/strong&gt;&lt;/a&gt;&lt;/li&gt;&lt;li&gt;We set the Primary Contact of the Account to this &lt;a href=&quot;{!finalContactLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;Contact&lt;/strong&gt;&lt;/a&gt;.&lt;/li&gt;&lt;/ol&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>isNewAccount</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>summaryNewOpportunityScreen</name>
            <fieldText>Created new Opportunity</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>summaryNewOpportunityScreen_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>newOpportunitySummary</name>
                    <fieldText>&lt;ol&gt;&lt;li&gt;&lt;a href=&quot;{!finalOpportunityLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px;&quot;&gt;&lt;strong&gt;See the new Opportunity here.&lt;/strong&gt;&lt;/a&gt;&lt;/li&gt;&lt;li&gt;We linked the Opportunity to this &lt;a href=&quot;{!finalAccountLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;Account&lt;/strong&gt;&lt;/a&gt;.&lt;/li&gt;&lt;li&gt;We set the Primary Contact of the Opportunity to this &lt;a href=&quot;{!finalContactLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;Contact&lt;/strong&gt;&lt;/a&gt;.&lt;/li&gt;&lt;/ol&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>isNewOpportunity</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>isFollowUpTask</name>
            <fieldText>Created follow up Task</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>isFollowUpTask_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>newFollowUpTask</name>
                    <fieldText>&lt;ol&gt;&lt;li&gt;&lt;a href=&quot;{!finalFollowUpTaskLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px;&quot;&gt;&lt;strong&gt;See the Task here.&lt;/strong&gt;&lt;/a&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;We linked this Task to the this &lt;/span&gt;&lt;a href=&quot;{!finalContactLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px;&quot;&gt;&lt;strong&gt;Contact&lt;/strong&gt;&lt;/a&gt;.&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;We linked this Task to this &lt;/span&gt;&lt;a href=&quot;{!finalAccountLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px;&quot;&gt;&lt;strong&gt;Account&lt;/strong&gt;&lt;/a&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;.&lt;/span&gt;&lt;/li&gt;&lt;/ol&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>createFollowUpTask</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>loggedInteraction</name>
            <fieldText>Logged your interaction</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>loggedInteraction_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>summaryInteraction</name>
                    <fieldText>&lt;ol&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;We logged your interaction as a completed &lt;/span&gt;&lt;a href=&quot;{!finalInteractionTaskLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px;&quot;&gt;&lt;strong&gt;Task here&lt;/strong&gt;&lt;/a&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;.&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;We linked your interaction with this &lt;/span&gt;&lt;a href=&quot;{!finalOpportunityLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px;&quot;&gt;&lt;strong&gt;Opportunity&lt;/strong&gt;&lt;/a&gt;.&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;We linked this task to this &lt;/span&gt;&lt;a href=&quot;{!finalContactLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px;&quot;&gt;&lt;strong&gt;Contact&lt;/strong&gt;&lt;/a&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;.&lt;/span&gt;&lt;/li&gt;&lt;/ol&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>startOver</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Click `Next` to start logging another interaction.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>selectContactScreenA</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>getOrCreateAccount</name>
        <label>Get Or Create Account for Interaction</label>
        <locationX>710</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>isUserOwnedOpportunities</targetReference>
        </connector>
        <flowName>MHGetOrCreateAccount</flowName>
        <inputAssignments>
            <name>contact</name>
            <value>
                <elementReference>finalContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>finalAccountId</name>
            <value>
                <elementReference>finalAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>newAccountName</name>
            <value>
                <elementReference>newAccountName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>useCurrentPrimaryAccount</name>
            <value>
                <elementReference>useCurrentPrimaryAccount</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>finalAccount</assignToReference>
            <name>accountToReturn</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>getOrCreateContact</name>
        <label>Get or Create Contact for Interaction</label>
        <locationX>710</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>selectAccountScreenB</targetReference>
        </connector>
        <flowName>MHGetOrCreateContact</flowName>
        <inputAssignments>
            <name>email</name>
            <value>
                <elementReference>setContactEmail.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>firstName</name>
            <value>
                <elementReference>setContactName.firstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>lastName</name>
            <value>
                <elementReference>setContactName.lastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>phone</name>
            <value>
                <elementReference>setContactPhone.value</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>finalContact</assignToReference>
            <name>contactToReturn</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>finalAccountId</assignToReference>
            <name>finalAccountId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>accountOfInteraction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactOfInteraction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>countIsOwnedOpportunities</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>countNotOwnedOpportunities</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>createOpportunityOfInteraction</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>finalAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>finalAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>finalAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>finalContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>finalContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>finalFollowUpTaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>finalOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>finalOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>finalOpportunityName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>finalOpportunityStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>finalOppportunityCloseDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>finalTaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>interaction</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>isNewAccount</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isNewContact</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isNewOpportunity</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isNewTaskForFollowUp</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>opportunityOfInteraction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>primaryAccountIdFromContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>primaryAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>A string of text like this: &quot;Log a Call; Log an Interaction&quot;</description>
        <name>taskSubjectsValuesForPicklist</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
