force-app/main/default/flows/MHGetOrCreateOpportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>notUserOwnedOpportunityAssignment</name>
        <label>Set Opportunity to NOT User Owned Opportunity Id</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>finalOpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>notUserOwnedId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getOpportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setToUserOwnedId</name>
        <label>Set Opportunity to User Owned Opportunity Id</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>finalOpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>userOwnedId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getOpportunity</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>existingOpportunitySelectedDecision</name>
        <label>Existing Opportunity Selected</label>
        <locationX>666</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Try again</defaultConnectorLabel>
        <rules>
            <name>userOwnedOpportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>userOwnedId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setToUserOwnedId</targetReference>
            </connector>
            <label>User Owned Opportunity Selected</label>
        </rules>
        <rules>
            <name>notUserOwnedOpportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>notUserOwnedId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>notUserOwnedOpportunityAssignment</targetReference>
            </connector>
            <label>Not User Owned Opportunity Selected</label>
        </rules>
        <rules>
            <name>isExistingOpportunitySelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>finalOpportunityId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getOpportunity</targetReference>
            </connector>
            <label>Existing Opportunity Selected from Other Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>opportunityDecisionC</name>
        <label>Create new Opportunity if needed</label>
        <locationX>666</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Try again</defaultConnectorLabel>
        <rules>
            <name>isNewOpportunityDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>opportunityCloseDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>opportunityName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>opportunityName</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>createNewOpportunityDecision</targetReference>
            </connector>
            <label>is New Opportunity</label>
        </rules>
        <rules>
            <name>isExistingOpportunityOfAccountDecision</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>finalOpportunityId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>notUserOwnedId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>userOwnedId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>existingOpportunitySelectedDecision</targetReference>
            </connector>
            <label>Account&apos;s existing Opportunity selected</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>MH Get Or Create Opportunity 0.0.1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MH Get Or Create Opportunity 0.0.3</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createNewOpportunityDecision</name>
        <label>Create new Opportunity</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <assignRecordIdToReference>finalOpportunityId</assignRecordIdToReference>
        <connector>
            <targetReference>getOpportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>opportunityCloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>opportunityName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>opportunityStage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npsp__Primary_Contact__c</field>
            <value>
                <elementReference>contact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordLookups>
        <name>getOpportunity</name>
        <label>Opportunity found</label>
        <locationX>666</locationX>
        <locationY>710</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>finalOpportunityId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>opportunity</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CloseDate</queriedFields>
        <queriedFields>Amount</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>npsp__Primary_Contact__c</queriedFields>
        <queriedFields>StageName</queriedFields>
    </recordLookups>
    <start>
        <locationX>540</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>opportunityDecisionC</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>countIsOwnedOpportunities</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>countNotOwnedOpportunities</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>finalOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isNewOpportunity</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>notUserOwnedId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>opportunityCloseDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunityName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunityOfInteraction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunityStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>userOwnedId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
