force-app/main/default/flows/MHLogInteractionOpportunitySubflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Copy_1_of_Copy_1_of_Store_Opportunity_counts_for_later</name>
        <label>Copy 1 of Copy 1 of Store Opportunity counts for later</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>opportunity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>notUserOwnedOpportunity</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_1_of_Store_Opportunity_counts_for_later</name>
        <label>Copy 1 of Store Opportunity counts for later</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>opportunity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>userOwnedOpportunity</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>isNewOpportunityAssignment</name>
        <label>Note that we created a new Opportunity</label>
        <locationX>842</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>isNewOpportunity</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getOrCreateOpportunity</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Copy_1_of_Have_we_retrieved_the_Opportunity_yet</name>
        <label>Copy 1 of Have we retrieved the Opportunity yet?</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Error</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes_Opportunity_is_already_set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>userOwnedOpportunity</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>userOwnedOpportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Store_Opportunity_counts_for_later</targetReference>
            </connector>
            <label>If user owned, set user owned</label>
        </rules>
        <rules>
            <name>if_not_user_owned_set_that</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>notUserOwnedOpportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>notUserOwnedOpportunity</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Store_Opportunity_counts_for_later</targetReference>
            </connector>
            <label>if not user owned, set that</label>
        </rules>
    </decisions>
    <decisions>
        <name>isOpoprtunitySetDecision</name>
        <label>Have we retrieved the Opportunity yet?</label>
        <locationX>688</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>validNewOpportunityDecision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, go get Opportunity</defaultConnectorLabel>
        <rules>
            <name>isOpportunity</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>userOwnedOpportunity</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>userOwnedOpportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>notUserOwnedOpportunity</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>notUserOwnedOpportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Have_we_retrieved_the_Opportunity_yet</targetReference>
            </connector>
            <label>Yes, Opportunity is already set</label>
        </rules>
    </decisions>
    <decisions>
        <name>validNewOpportunityDecision</name>
        <label>Do we have all required fields for new Opportunity?</label>
        <locationX>1062</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Error</defaultConnectorLabel>
        <rules>
            <name>validOpportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newOpportunityStage</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>newOpportunityStage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>newOpportunityName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>newOpportunityName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>newOpportunityCloseDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>isNewOpportunityAssignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>existingOpportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>opportunityId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>opportunityId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getOrCreateOpportunity</targetReference>
            </connector>
            <label>No, do we have the Opportunity Id of an existing Opportunity?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Log Interaction Get Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Log Interaction Get Or Create Opportunity 0.0.1</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
        <processType>AutoLaunchedFlow</processType>

    <start>
        <locationX>562</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>isOpoprtunitySetDecision</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>getOrCreateOpportunity</name>
        <label>Get or create Opportunity</label>
        <locationX>1062</locationX>
        <locationY>542</locationY>
        <flowName>MHGetOrCreateOpportunity</flowName>
        <inputAssignments>
            <name>account</name>
            <value>
                <elementReference>account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contact</name>
            <value>
                <elementReference>contact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>newOpportunityCloseDate</name>
            <value>
                <elementReference>newOpportunityCloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>newOpportunityName</name>
            <value>
                <elementReference>newOpportunityName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>newOpportunityStage</name>
            <value>
                <elementReference>newOpportunityStage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>opportunityId</name>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>opportunity</assignToReference>
            <name>opportunity</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>isNewOpportunity</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>newOpportunityCloseDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newOpportunityName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newOpportunityStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>notUserOwnedOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>opportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>oppportunityCloseDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>userOwnedOpportunitiesForScreen</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>userOwnedOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
