force-app/main/default/flows/MHLogInteractionContactSubflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>isNewContactAssignment</name>
        <label>Note that we created a new Contact</label>
        <locationX>242</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>isNewContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getOrCreateContact</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>isContactSetDecision</name>
        <label>Have we retrieved the Contact yet?</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>validNewContactDecision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Retrieve Contact</defaultConnectorLabel>
        <rules>
            <name>isContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contact</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Contact is already set</label>
        </rules>
    </decisions>
    <decisions>
        <name>validNewContactDecision</name>
        <label>Do we have all required fields for new Contact?</label>
        <locationX>374</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>getOrCreateContact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>validContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newContactFirstName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>newContactLastName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>newContactFirstName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>newContactLastName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>isNewContactAssignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Log Interaction Contact Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Log Interaction Contact Subflow 1.0.0</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
        <processType>AutoLaunchedFlow</processType>

    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>isContactSetDecision</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>getOrCreateContact</name>
        <label>Get or Create Contact for Interaction</label>
        <locationX>374</locationX>
        <locationY>542</locationY>
        <flowName>MHGetOrCreateContact</flowName>
        <inputAssignments>
            <name>finalContactId</name>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>newEmail</name>
            <value>
                <elementReference>newContactEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>newFirstName</name>
            <value>
                <elementReference>newContactFirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>newLastName</name>
            <value>
                <elementReference>newContactLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>newPhone</name>
            <value>
                <elementReference>newContactPhone</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>contact</assignToReference>
            <name>contact</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isNewContact</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>newContactEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newContactFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newContactLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newContactPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
